@media print {
  @page {
    size: 3.5in 1.1in;
    margin: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .label {
    -webkit-column-break-inside: avoid !important;
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }
  .printable-labels > .label:last-child {
    page-break-after: auto !important;
  }
}
